@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --new-body-color: #f7f7f7;
    /* --new-color-bg: rgba(168, 213, 255, 0.42); */
    --new-color-bg: #7da2a9b2;
    /* --new-color-border: rgba(74, 166, 252, 1); */
    --new-color-border: #7da2a9;
  }


html{
    scroll-behavior: smooth;
    margin: 0;
}

body{
    position: relative;
    background-color: var(--new-body-color) !important;
    font-family: "Roboto Condensed", sans-serif !important;
    margin: 0;
}

#version {
    position: absolute;
    top: -15px;
    right: 10px;
    z-index: 10;
  }

.resolution-unsupported{
    display: none;
  }

header {
    display: flex;
    justify-content: space-around;
    align-items: center; /* align y axis */
    /* border: 5px double grey; */
    /* border-radius: 20px; */
    position: relative;
    background-color: var(--new-color-bg);
    margin-bottom: 50px;
    height: 70px;
  }

  header .header-images .image-one{
    height: 90px;
    width: 90px;
  }
  
  header .header-images .image-two{
    height: 60px;
    width: 60px;
    transform: rotate(270deg);
    margin-bottom: 15px;
  }
  
  header h1 {
    font-size: 2em;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    padding: 30px;
    text-align: center;
  }

.container{
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.container h3{
    font-size: 1.5em;
    text-align: center;
    background-color: var(--new-color-bg);
    border: 3px solid var(--new-color-border);
    border-radius: 20px 20px 0 0;
    margin: 0 40px;
    padding: 10px 0;
}

.container p{
    margin: 0 40px;
    background: #fff;
    border: 3px solid var(--new-color-border);
    border-top: none;
    border-bottom: none;
    padding: 10px 10px 20px 10px;
    font-size: 1.2em;
}

.container ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 40px;
    background: #fff;
    padding-bottom: 20px;
    border: 3px solid var(--new-color-border);
    border-top: none;
    border-bottom: none;
}

.container ul li{
    margin-bottom: 10px;
    padding: 0 10px;
    font-weight: bold;
    list-style-type: none;
    font-size: 1.1em;
}

.container ul li a{
    color: #000;
    text-decoration: none;
}

.container ul li a:hover{
    text-decoration: underline;
}

.img-container{
    display: flex;
    position: relative;
    margin: 0 40px;
    background: #fff;
    padding-bottom: 20px;
    border: 3px solid var(--new-color-border);
    border-radius: 0 0 20px 20px;
    border-top: none;
    justify-content: center;
}

.img-container img{
    max-height: 300px;
    width: auto;
    border: 2px solid #000;
}

.img-container figure figcaption{
    max-width: 1100px;
}

.info-container{
    position: relative;
    width: 85vw;
    left: 50%;
    transform: translateX(-50%);
    border: 3px double var(--new-color-border);
    border-radius: 2px;
    background: #fff; 
}

.info-container h4{
    padding-left: 10px;
    font-size: 1.4em;
}

.info-container p{
    padding: 0 10px;
    font-size: 1.2em;
}

.info-container ul li{
    margin: 30px 0;
    font-size: 1.2em;
    list-style-type: square;
}

.info-container figure img{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.home-page{
    position: fixed;
    bottom: 30px;
    right: 0;
    margin-bottom: 2em;
    margin-right: 0.2em;
}

.home-page a{
    text-decoration: none;
    padding: 10px;
    border: 3px solid var(--new-color-border);
    border-radius: 10px;
    font-size: 2em;
    transition: all 0.3s;
}

.home-page a:hover{
    background: var(--new-color-border);
}

.home-page a:hover > i{
    color: #fff; 
}

.home-page a i{
    color: var(--new-color-border);
    transition: all 0.3s;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 0.9rem;
    background-color: var(--new-color-bg);
    border-top: 2px solid var(--new-color-border);
    margin-top: 50px;
  }
  
  footer p{
    margin-bottom: 0 !important;
  }
  

@media (min-width: 1000px) and (max-width: 1600px) {
    .img-container img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 700px;
        height: auto; 
    }
}

@media (min-width: 300px) and (max-width: 999px){
    .container{
        width:100vw;
    }
    .img-container img{
        position: relative;
        max-width: 400px;
        height: auto;
        left:50%;
        transform: translateX(-50%);
        
    }

    .info-container figure img{
        position: relative;
        max-width: 400px;
        height: auto;
        left:50%;
        transform: translateX(-50%);
    }
}