body{
    position: relative;
    background-color: #EEECD9;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center; /* align y axis */
    border: 3px double grey;
    border-width: 0.6em 1.2em;
    position: relative;
    background-color: #F7EFB6;
    margin: 20px;
    width: 85vw;
    left: 50%;
    transform: translateX(-50%);
}

header h1{
    color: black;
    padding: 30px;
}

.container h3{
    text-align: center;
    background-color: #C1C1C1;
    border: 2px dashed gray;
    margin: 0 50px;
    padding: 10px 0;
}