header{
    display: flex;
    justify-content: space-between;
    align-items: center; /* align y axis */
}

header h1{
    border: 1px solid #000;
}

/* .container-full{
    position: relative;
    justify-content: space-between;
    display: flex;
    /* flex-direction: column; 
} */

.requirements h3{
    text-align: center;
    border: 1px solid #000;
}

.requirements ol li{
    font-size: 1em;
    padding-top: 20px;
}

.img-selection{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}




.image-container{
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
    /* height: 600px;
    width: 1200px; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 1200px 600px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.image-container canvas{
    position: relative;
}



ul li{
    list-style-type: none;
}

.bottom-functions{
    display: flex;
    justify-content: space-evenly;
}

.buttons{
    margin-left: 0;
}

.data-results{
    text-align: center;
}

.buttons-change{
    margin-left: 0;
}