@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html{
  visibility: hidden;
  margin:0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  position: relative;
  background-color: #f3f3f3;
}

.hidden{
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* align y axis */
  border: 5px double grey;
  border-radius: 20px;
  position: relative;
  background-color: #b8b8b8;
  margin: 30px 3em 20px 3em;
}

header h1 {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 30px;
  text-align: center;
}

.info-page{
  text-decoration: none;
  padding: 3px;
}

.info-page:hover{
  text-decoration: underline;
}

.modal-news{
  border: 3px solid black;
  background: #ffff;
  position: fixed;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 32px;
  border-radius: 3px;
}

.modal-help-ae, .modal-help-aea{
  font-size: 0.9em;
  border: 3px solid black;
  background: #ffff;
  position: fixed;
  left:50%;
  bottom: 20%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 32px;
  border-radius: 3px;
  margin: 0 !important;
  text-align: justify;
}

.modal-help-ae ul, .modal-help-aea ul {
  /* list-style-image: url('../img/'); */
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.modal ul li,.modal-help-ae ul li, .modal-help-aea ul li{
  padding: 10px 0 10px 0; 
}

.modal-news .new-btn-close-modal,.modal-help-ae .new-btn-close-modal, .modal-help-aea .new-btn-close-modal{
  padding: 10px;
  margin:10px 0;
  float: right;
  background: rgb(210, 96, 96);
  border: 1px solid #0000;
  border-radius: 5px;
  cursor: pointer;
}

.modal-news .new-btn-close-modal:hover,.modal-help-ae .new-btn-close-modal:hover, .modal-help-aea .new-btn-close-modal:hover{
  background:#dc3545;
  border: 3px solid #0000;
}

.show-updates{
  cursor: pointer;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
  transition: background 0.5s;
}

.show-updates:hover{
  background: rgb(223, 223, 223);
}

/* .container-full{
    position: relative;
    justify-content: space-between;
    display: flex;
    /* flex-direction: column; 
} */
.container-full {
  position: relative;
}

.requirements {
  position: relative;
  width: 85vw;
  left: 50%;
  transform: translateX(-50%);
}

.requirements h3 {
  text-align: center;
  background-color: #c1c1c1;
  border: 3px solid rgb(117, 117, 117);
  border-radius: 20px 20px 0 0;
  margin: 0 40px;
  padding: 10px 0;
}

.requirements ul {
  margin: 0 40px;
  background: #fff;
  padding-bottom: 20px;
  border-radius: 0 0 20px 20px;
  border: 3px solid #727272;
  border-top: none;
}

.requirements ul li {
  font-size: 1em;
  padding-top: 20px;
  list-style-type: disc;
  font-size: 1.2em;
}

#loginName {
  position: relative;
  background: #fff;
  width: 17em;
  padding: 7px;
  left: 4em;
  border: 3px solid #919191;
  margin-top: 1em;
  text-align: center;
}

#userResolution {
  text-align: center;
  position: relative;
  background: #fff;
  width: 280px;
  padding: 10px;
  left: 4em;
  border: 3px double #000;
  margin-top: 1em;
}

#version {
  position: absolute;
  top: -30px;
  right: 5px;
}

.logout-button {
  position: relative;
  text-decoration: none;
  padding: 10px 15px;
  background: #dc3545;
  left: 4em;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(168, 30, 30);
}

.logout-button:hover {
  background: rgb(168, 30, 30);
}

.upload-btn {
  padding: 10px 15px;
  margin-left: 20px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

.upload-btn:hover {
  background: rgb(192, 192, 192);
}

.reset-button{
  padding: 10px 15px;
  margin-left: 20px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #c2c2c2;
}

.reset-button:hover{
  background: #c2c2c2;
}

.img-upload {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.image-container {
  position: relative;
  display: block;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 1400px 800px; */
}

.image-info{
  position: relative;
  padding: 5px;
  background: #fff;
  border: 4px double #000;
  margin: 3px 0 10px 0;
  text-align: center;
  max-width: 450px;
  left:50%;
  transform: translateX(-50%);
}


/* All containers */

.custom-select{
  font-size: 0.8em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  background-color: #fff;
  border: 1.5px solid #a4a7a9;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}



.bottom-functions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 20px 20px 20px;
}

.buttons-plus-options{
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
  background: #fff;
  border: 3px solid #c1c1c1;
  width: 60vw;
}

.right-side-options{
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.right-side-options .point-removal {
  padding-top: 10px;
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.right-side-options .point-size {
  padding-top: 10px;
  border-top-style: double;
}

.point-size p {
  margin: 10px;
}

.image-resize{
  display: none;
  border: 3px solid #c1c1c1;
  background: #fff;
  padding: 32px 64px 64px 64px;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  
}

.image-resize .image-text{
  font-size: 20px;
  text-align: left;
}

.image-resize .slider-container{
  width: 100%;
}

.collapse-btn{
  background: transparent;
  border:none;
  padding: 0 !important;
  margin: 0;
}

.collapse-btn .fa-solid{
  color:#000;
  
}

.collapse-btn:hover > .fa-solid{
  font-size: 1.1em;
}

.slider{
  width: 50%;
}

.saved-distances {
  position: relative;
  /* display: flex; */
  justify-content: space-between;
  background-color: #fff;
  border: 3px double #c1c1c1;
  padding: 0 10px 10px 10px;
  width: 52vw;
}

/* Buttons that add points of different colors and mouse image scheme */ 

.buttons-plus-options .mouse-scheme{
  position:relative;
}

.buttons-plus-options .mouse-scheme img{
  float:left;
  border: 2px solid #000;
  box-shadow: 4px 6px 18px; /* blur */
  /* box-shadow: 6px 6px; shadow */
  padding-bottom: 10px;
}

.buttons-plus-options .mouse-scheme img:hover{
  cursor: grab;
}

.buttons-plus-options .marker{
  border: none;
}

.buttons-plus-options .marker.active {
  border: 3px solid #000;
}

.buttons-plus-options .btn-toggle{
  position: absolute;
  top: 580px;
  left: 7px;
}

.buttons-plus-options .btn-reset{
  position: absolute;
  top: 580px;
  left: 260px;
}



#redCircleLeft{
  position: absolute;
  top: 100px;
  left: 80px;
  color: #fff;
  background: #ff2626;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#redCircleRight {
  position: absolute;
  top: 100px;
  left: 278px;
  color: #fff;
  background: #ff2626;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#redCircleLeft:hover,
#redCircleRight:hover {
  background: #de0202;
}

#deleteCircleRedLeft,
#deleteCircleRedRight {
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#deleteCircleRedLeft:hover,
#deleteCircleRedRight:hover {
  background: rgb(155, 155, 155);
}

#deleteAllCircleRedLeft,
#deleteAllCircleRedRight {
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#deleteAllCircleRedLeft:hover,
#deleteAllCircleRedRight:hover {
  background: rgb(155, 155, 155);
}

#blueCircleLeft{
  position: absolute;
  top: 345px;
  left: 100px;
  color: #fff;
  background: #0980f1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#blueCircleRight {
  position: absolute;
  top: 345px;
  left: 260px;
  color: #fff;
  background: #0980f1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#blueCircleLeft:hover,
#blueCircleRight:hover {
  background: hsl(216, 100%, 35%);
}

#deleteCircleBlueLeft,
#deleteCircleBlueRight {
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#deleteCircleBlueLeft:hover,
#deleteCircleBlueRight:hover {
  background: rgb(155, 155, 155);
}

#deleteAllCircleBlueLeft,
#deleteAllCircleBlueRight {
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#deleteAllCircleBlueLeft:hover,
#deleteAllCircleBlueRight:hover {
  background: rgb(155, 155, 155);
}

#resetCanvasNotIdx {
  position: relative;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 10px;
}

#resetCanvasNotIdx:hover {
  background: rgb(155, 155, 155);
}

#resetCanvas, #toggleInactive {
  font-size: 0.7em;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px 10px;
  margin-bottom: 3px;
}

#resetCanvas:hover, #toggleInactive:hover {
  background: rgb(195, 195, 195);
}

.btn-rs:hover > .fa-solid{
  color: #fff;
}

.btn-tg:hover > .fa-solid{
  color: #fff;
}

/* #resetFile {
  position: relative;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 10px;
}

#resetFile:hover {
  background: rgb(155, 155, 155);
} */

#refreshButton,
#emptyListRemoval {
  padding: 3px 10px;
  border-radius: 1px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

#refreshButton:hover,
#emptyListRemoval:hover {
  background: rgb(184, 184, 184);
}

/* Image resize section */

#fiftyP,
#seventyFiveP,
#fortyP,
#twentyFiveP,
#resetImgDim {
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#fiftyP:hover,
#seventyFiveP:hover,
#fortyP:hover,
#twentyFiveP:hover,
#resetImgDim:hover {
  background: rgb(155, 155, 155);
}

#currentImgSize {
  height: 0;
}

.image-resize button {
  padding: 7px 10px;
}

/* Measure px in cm section */

#measureButton{
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: background 0.2s;
}

#measureButton.active {
  border: 2px solid #000;
}

#resetMeasure{
  border-radius: 3px;
  border: 2px solid #c1c1c1;
  cursor: pointer;
  transition: background 0.2s;
  background: rgba(230, 1, 1, 0.429);
}
#measureDistance{
  border-radius: 3px;
  border: 2px solid #c1c1c1;
  cursor: pointer;
  transition: background 0.2s;
  background: rgba(0, 197, 0, 0.554);
}

#manualUse,
#resetManual,
#removeOption {
  padding: 3px 10px;
  border-radius: 1px;
}

#measureButton:hover,
#manualUse:hover,
#resetManual:hover,
#removeOption:hover {
  background: rgb(184, 184, 184);
}

#resetMeasure:hover{
  background: rgba(230, 1, 1, 0.697);
}

#measureDistance:hover{
  background: rgba(0, 197, 0, 0.796);
}

.point-input {
  height: 20px;
}

#removePoint, #replacePoint {
  padding: 5px 10px;
  margin: 0;
  position: relative;
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 10px;
}

#removePoint:hover, #replacePoint:hover {
  background: rgb(155, 155, 155);
}

.measure-info {
  display: flex;
  position: relative;
  margin: 10px 0;
}
#measureIntro {
  text-decoration: underline;
}

.saved-distances h3 {
  text-align: center;
}

.saved-distances button {
  padding: 7px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

.save-button {
  padding: 3px 10px;
  border-radius: 1px !important;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

.save-button:hover {
  background: rgb(184, 184, 184);
}

/* Unused ppi section for now */

.resolution-info {
  display: none;
  position: relative;
  background: #fff;
  width: 400px;
  padding: 10px;
  left: 20%;
  margin-bottom: 20px;
  border: 3px double #000;
}

.input-inches {
  height: 20px;
}

.ppi-calc {
  padding: 5px;
  position: relative;
  border-radius: 1px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 10px;
}

.ppi-calc:hover {
  background: rgb(202, 202, 202);
}

/* ----------- */

/* .buttons-change {
  position: relative; */
/* display: flex;
    justify-content: space-evenly; */
/* display: block;
  margin: 10px auto;
  max-width: 60vw;
  background-color: #fff;
  border: 3px double #c1c1c1;
  padding: 10px;
} */

/* #canvasWidth, #canvasHeight{
    padding: 5px;
}

#canvasHeight{
    margin-left: 40px;
}


#changeW, #changeH{
    padding: 5px 20px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #c1c1c1;
    cursor: pointer;
    transition: all 0.2s;
} */

/* #changeW:hover, #changeH:hover{
    background: rgb(155, 155, 155);
}

#resetW, #resetH{
    padding: 5px 20px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #c1c1c1;
    cursor: pointer;
    transition: all 0.2s;
}

#resetW{
    margin-right: 40px;
}

#resetW:hover, #resetH:hover{
    background: rgb(155, 155, 155);
} */

/* #containerWidth, #containerHeight{
    padding: 5px;
}

#containerHeight{
    margin-left: 0;
}


#changeImgW, #changeImgH{
    padding: 5px 20px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #c1c1c1;
    cursor: pointer;
    transition: all 0.2s;
}



#changeImgW:hover, #changeImgH:hover{
    background: rgb(155, 155, 155);
}

#resetImgW, #resetImgH{
    padding: 5px 20px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #c1c1c1;
    cursor: pointer;
    transition: all 0.2s;
}

#resetImgW{
    margin-right: 40px;
}

#resetImgW:hover, #resetImgH:hover{
    background: rgb(155, 155, 155);
} */

/* Change point dimensions section */

input{
  margin-top: 10px;
  padding: 6px 10px;
  margin-left: 3px;
  border: none;
  background: #ececec;
  outline: none;
}

input:focus::placeholder{
  color: transparent;
}

input::placeholder{
  color: #303030;
  transition: color 0.3s ease;
}

#changeS {
  margin-top: 10px;
  padding: 5px 20px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#changeS:hover {
  background: rgb(155, 155, 155);
}

#resetS {
  margin-top: 10px;
  padding: 5px 20px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#resetS:hover {
  background: rgb(155, 155, 155);
}

/* Data management section */

.data-management {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.data-management .table-results {
  background-color: #fff;
  border: 5px double #c1c1c1;
  padding: 5px 10px;
  margin: 5px;
}

.table-results{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.data-management h3 {
  text-align: center;
}

.data-management table {
  border: 1px solid #000;
}

.data-management table th {
  border: 1px solid #000;
  padding: 0 10px;
}

.data-management table #titleImage {
  border: 1px dashed rgb(128, 128, 128);
  text-align: center;
}

.data-management tbody tr td {
  border: 1px solid #000;
  text-align: center;
}

#exportEx {
  margin-top: 20px;
  padding: 5px 20px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all 0.2s;
}

#exportEx:hover {
  background: rgb(180, 180, 180);
}

.data-management .select-options {
  position: relative;
  width: 50%;
  text-align: center;
  padding: 0px 10px 5px 10px;
  margin: 0px 5px 5px 5px;
  font-size: 1.2em;
  height: 460px;
}

.select-options label {
  width: 6em;
}

.select-options #footstepsBeginning,
.select-options .remove-by-entries,
.select-options .remove-by-measurement,
.select-options .table-id {
  border: 3px ridge #c1c1c1;
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: #fff;
}

.select-options #footstepsBeginning p,
.select-options .remove-by-entries p,
.select-options .remove-by-measurement p,
.select-options .table-id p {
  margin: 5px 0px;
}

/* .select-options #addAll {
  padding: 5px 10px;
  border-radius: 1px !important;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

.select-options #addAll:hover {
  background: rgb(184, 184, 184);
} */

.select-options button{
  padding: 5px 10px;
  border-radius: 1px !important;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

#addAll{
  margin-top: 20px;
  /* display: none; */
}


.select-options button:hover {
  background: rgb(184, 184, 184);
}

#entryTableID {
  margin-left: 0;
}

#footstepsBeginning {
  position: relative;
  margin: 5px 0;
}

#imageResizeTableWarning {
  padding: 10px 0 0 0;
}


.open-help-ae, .open-help-aea{
  font-size: 0.7em;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #c1c1c1;
  margin-left: 2px;
  transition: background 0.3s ease;
}

.open-help-ae:hover, .open-help-aea:hover{
  background: #f1fc1c;
}


