venv/
mouseframe_venv/
mouseframe_venv_310/
venv312/
venv_312/
db.sqlite3
staticfiles/
.prettierignore
.env
dbbk.sqlite3
__pycache__/
__pycache__/
**/migrations/__pycache__/
**/migrations/*.pyc
*.pyc
tests/
.pytest_cache/
desktop.ini
backup/