amqp==5.2.0
asgiref==3.6.0
billiard==4.2.0
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
diff-match-patch==20230430
Django==4.2.1
django-defender==0.9.8
django-filter==24.2
django-import-export==4.0.8
django-redis==5.4.0
djangorestframework==3.15.1
hiredis==3.0.0
iniconfig==2.0.0
kombu==5.4.1
mockredispy==2.9.3
packaging==24.1
pluggy==1.5.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
psycopg2-binary==2.9.9
pytest==8.3.3
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
redis==5.0.8
setuptools==65.5.0
six==1.16.0
sqlparse==0.4.4
tablib==3.5.0
tzdata==2023.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
