<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/mus-musculus.ico' %}">
    <title>Image Analysis</title>
</head>
<body>
    <header>
        <h1>Image Analysis - Mus Musculus walking behaviour</h1>
        <img src="{% static 'img/mouse.png' %}">
    </header>
    <div class="container-full">
        <!-- <div class="left-part"> -->
        <div class="requirements">
            <h3>Requirements</h3>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa inventore ipsam enim, laudantium aliquam nam ipsum aliquid. Ipsam cumque blanditiis vero et minus recusandae nostrum, quam provident, delectus, tempore quisquam!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium error obcaecati omnis officiis, vero maxime ipsum ducimus ratione placeat facilis maiores accusamus, fugit autem alias, mollitia odit numquam ullam corrupti!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illum adipisci reiciendis, cum commodi sit non debitis placeat laudantium, rem in. Eveniet expedita vel laboriosam ea veritatis blanditiis id eius!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellat perferendis provident error a aperiam consequuntur similique tempore, deleniti dicta magnam quo adipisci! Repellat ipsam temporibus nobis doloremque modi nulla.</li>
            </ol>
        </div>
    <!-- </div> -->
    <!-- <div class="right-part"> -->
    <div class="img-selection">
    
    <div class="img-upload">
    <form action="">
        <label for="img">Upload your image here:</label>
        <p id="canvasInfo"> Default canvas (500x500)</p>
        <p id="canvasUpload">Canvas has the same size of the image uploaded. Change below if necessary.</p>
        <input type="file" id="uploadImage" name="img" alt="Upload" accept="image/*" onchange="loadFile(event)" style="display: none;">
        <input class="upload-btn" type="button" value="Select Image" onclick="document.getElementById('uploadImage').click();" style="cursor: pointer;"/>
      </form>
    <div id="imgContainer" class="image-container">
      <canvas id="canvas"></canvas>
    </div>
    </div>
    </div>
    <div class="bottom-functions">
      <div class="buttons">
         <button class="button" type="button" id="redCircle" onclick="drawRedCircle();">Add button - Red</button>
         <button class="button" type="button" id="blueCircle" onclick="drawBlueCircle();">Add button - Blue</button>
         <button class="button" type="button" id="deleteCircleRed" onclick="removeRedCircle();">Delete last added Red dot</button>
         <button class="button" type="button" id="deleteAllCircleRed" onclick="removeAllRedCircle();">Delete all red dots</button>
         <button class="button" type="button" id="deleteCircleBlue" onclick="removeBlueCircle();">Delete last added Blue dot</button>
         <button class="button" type="button" id="deleteAllCircleBlue" onclick="removeAllBlueCircle();">Delete all blue dots</button>
         <button class="button" type="button" id="reset" onclick="clearCanvas();">Reset Canvas</button>
         <button class="button" type="button" id="reset" onclick="resetFile();">Reset Image</button>
       </div>
    <div class="data-results" id="showData">
        <h3>Data retrieved:</h3>
        <ul>
            <li>Stride length hind legs: {}</li>
            <li>Stride length front legs: {}</li>
            <li>Overlap: {}</li>
            <li>Stride width: {}</li>
        </ul>
    </div>   
   </div>
   <div class="buttons-change">
    <p id="imageUploadedWidth"></p>
    <p id="imageUploadedHeight"></p>
    <input id="canvasWidth" type="number" placeholder="Canvas Width">
    <button onclick="changeWidth();">Change canvas width</button>
    <input id="canvasHeight" type="number" placeholder="Canvas Height">
    <button onclick="changeHeight();">Change canvas height</button>
    <input id="sizeInput" type="number" placeholder="Dot Size">
    <button onclick="changeSize();">Change point size</button>
    <p> Default point radius size is set to 4px</p>
    <p id="dynamicSize"></p>
    <p><strong>Note:</strong>When deleting buttons make sure you don't change point size. Only delete buttons when working with a fixed size</p>
   </div>
   <!-- </div> -->
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/canvas_testing.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script> -->
<script>
//    let image = document.createElement('img');
   let imgWidth = document.getElementById('imageUploadedWidth');
   let imgHeight = document.getElementById('imageUploadedHeight');
   let results = document.querySelector(".data-results");
   let buttons = document.querySelector(".buttons");
   let chButtons = document.querySelector(".buttons-change");
   let canvasInfo = document.getElementById("canvasInfo");
   let canvasUpload = document.getElementById("canvasUpload");
   canvasUpload.style.display = "none";
   buttons.style.display = "none";
   results.style.display = "none";
   chButtons.style.display = "none";
   let imgContainer = document.getElementById("imgContainer");
   let img = new Image()
    let loadFile = function(event){
        img.src = URL.createObjectURL(event.target.files[0]);
        imgContainer.style.backgroundImage = "url(" +img.src+ ")";
        buttons.style.display = "inline-block";
        results.style.display = "inline-block";
        chButtons.style.display = "inline-block";
        // canvasInfo.style.display = "none";
        canvasUpload.style.display = "";

// On image load canvas and container become the same size as uploaded image
        img.onload = () => {
            event.target.value = null;
            imgWidth.innerHTML = "Uploaded image width: "+ img.width + "px";
            imgHeight.innerHTML = "Uploaded image height: "+ img.height + "px";
            imgContainer.style.width = img.width + "px";
            imgContainer.style.height = img.height + "px";
            canvas.height = img.height;
            canvas.width = img.width;
            canvasInfo.innerHTML = "Canvas size is: " + canvas.width + "x" + canvas.height;
        }
    }

    let canvasWidth = document.getElementById("canvasWidth");
    let canvasHeight = document.getElementById("canvasHeight");

    function changeWidth(){
    let canvasInputWidth = document.getElementById("canvasWidth").value;
    if (canvasInputWidth){
        canvas.width = canvasInputWidth;
        imgContainer.style.width = canvasInputWidth + "px";

    } else{
        canvas.width = 500;
        imgContainer.style.width = "500px";
    }
    }

changeWidth();

function changeHeight(){
  let canvasInputHeight = document.getElementById("canvasHeight").value;
  if (canvasInputHeight){
    canvas.height = canvasInputHeight;
    imgContainer.style.height = canvasInputHeight + "px";
  } else{
    canvas.height = 500;
    imgContainer.style.height = "500px";
  }
}

changeHeight();
    
        // let img = document.createElement("img");
        // img.src = URL.createObjectURL(event.target.files[0]);
        // img.style.position = "absolute";
        // let widthI = img.width;
        // let heightI = img.height;
        // imgContainer.appendChild(img);
        // imgContainer.style.backgroundImage = "url(" +URL.createObjectURL(event.target.files[0])+ ")";
        // buttons.style.display = "inline-block";
        // results.style.display = "inline-block";
        // chButtons.style.display = "inline-block";

    let resetFile = function(event){
      
      imgContainer.style.backgroundImage = "";
      buttons.style.display = "none";
      results.style.display = "none";
      chButtons.style.display = "none";
      canvas.style.cursor = "auto";
      canvas.removeEventListener('click', drawBlue);            // Remove all event listeners and also clear canvas
      canvas.removeEventListener('click', drawRed);
      canvas.removeEventListener("click", printMousePos);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      canvasInfo.innerHTML = "Canvas size returned to default size (500x500)";
      canvasUpload.style.display = "none";
      canvas.width = 500;
      canvas.height = 500;
      imgContainer.style.width = "500px";
      imgContainer.style.height = "500px";
    }
    
</script>
</body>
</html>