<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/mus-musculus.ico' %}">
    <title>Image Analysis</title>
</head>
<body>
    <header>
        <h1>Image Analysis - Mus Musculus walking behaviour</h1>
        <img src="{% static 'img/mouse.png' %}">
    </header>
    <div class="container-full">
        <!-- <div class="left-part"> -->
        <div class="requirements">
            <h3>Information and requirements</h3>
            <ul>
                <li>Only image file formats are supported.</li>
                <li>Make sure you note which dpi was used in the case of scanned images to later add the number to further calculations in order to increase the results precision.</li>
                <li>In order to draw dots to perform the calculations, this is done in canvas. The canvas as the name implies is a surface where the user can draw, in this case only dots of different sizes and colors can be added.</li>
                <li>The canvas will be automatically set to the uploaded image dimensions although a canvas bigger than the uploaded image would not make a difference in the distance calculations as long as the user adds the dots wherever it is wanted.</li>
                <li>Make sure your image resolution fits your computer screen as the canvas will automatically adopt its dimensions.</li>
                <li>All the functionalities are shown after successful image upload.</li>
                
            </ul>
            <p id="userResolution"></p><br>
        </div>
    <!-- </div> -->
    <!-- <div class="right-part"> -->
    <div class="img-selection">
    
    <div class="img-upload">
    <form action="">
        <label for="img" style="font-size: 1.1em;">Upload your image here:</label>
        <p id="canvasUpload">Canvas starts with same size as the image uploaded. Change below if necessary.</p>
        <input type="file" id="uploadImage" name="img" alt="Upload" accept="image/*" onchange="loadFile(event)" style="display: none;">
        <input class="upload-btn" type="button" value="Select Image" onclick="document.getElementById('uploadImage').click();" style="cursor: pointer;"/>
      </form>
    <div id="imgContainer" class="image-container">
      <canvas id="canvas"></canvas>
    </div>
    </div>
    </div>
    <div class="bottom-functions">
      <div class="buttons">
         <button class="button" type="button" id="redCircle" onclick="drawRedCircle();">Add button - Red</button>
         <button class="button" type="button" id="deleteCircleRed" onclick="removeRedCircle();">Delete last added Red dot</button>
         <button class="button" type="button" id="deleteAllCircleRed" onclick="removeAllRedCircle();">Delete all red dots</button><br>
         <button class="button" type="button" id="blueCircle" onclick="drawBlueCircle();">Add button - Blue</button>
         <button class="button" type="button" id="deleteCircleBlue" onclick="removeBlueCircle();">Delete last added Blue dot</button>
         <button class="button" type="button" id="deleteAllCircleBlue" onclick="removeAllBlueCircle();">Delete all blue dots</button><br>
         <button class="button" type="button" id="resetCanvas" onclick="clearCanvas();">Reset Canvas</button>
         <button class="button" type="button" id="resetFile" onclick="resetFile();">Reset Image</button>
       </div>
       
       <div id="imageInfo" class="image-info">
        <p id="imageUploadedWidth"></p>
        <p id="imageUploadedHeight"></p>
        <p id="imageUploadedSize"></p>
        <p id="canvasInfo"></p>
      </div>  
   </div>
   <div class="saved-distances" id="savedDistance">
    <h2>Define how many pixels are in a centimeter.</h2>
    <p>If there is a drawn line with the length of 1cm, measure it in pixels here:</p>
    <p id="scaleDistance"></p>
    <button id="measureButton" onclick="drawMeasureCircle();">Add measuring points</button>
    <button id="resetMeasure" onclick="removeAllMeasurePoints();">Reset points</button>
    <button onclick = "distanceMeasurePoint()">Measure</button>
    <p id="measureToCm"></p>
    <button type="submit">Store value</button>
   </div>
   <div class="resolution-info">
    <label id="labelInput" for="inches">Your screen size in inches(in):</label>
    <input name="inches" class="input-inches" id="inputScreenInches" type="text" maxlength="4" size="4" onkeypress="if(!event.key.match(/[1-9.]/)) event.preventDefault()">
    <button class="ppi-calc" id="ppiCalculus" onclick="getScreenPPI();">Get Screen PPI</button>
    <p id="screenPPI"></p>
    <p id="imageUploadedDPI"></p>
    <p id="imageDimInches"></p>
    <p id="imageDimCm"></p>
   </div>
   <div class="buttons-change">
    <input id="canvasWidth" type="number" placeholder="Canvas Width">
    <button id="changeW" onclick="changeWidth();">Change canvas width</button>
    <button id="resetW" onclick="resetWidth();">Reset Width</button>
    <input id="canvasHeight" type="number" placeholder="Canvas Height">
    <button id="changeH" onclick="changeHeight();">Change canvas height</button>
    <button id="resetH" onclick="resetHeight();">Reset Height</button><br><br>
    <input id="containerWidth" type="number" placeholder="Image Width">
    <!-- <button id="changeImgW" onclick="changeImgW();">Change image width</button> -->
    <!-- <button id="resetImgW" onclick="resetImgW();">Reset Image Width</button> -->
    <input id="containerHeight" type="number" placeholder="Image Height">
    <button id="changeImgDim" onclick="changeImgDim();">Change Image dimensions</button>
    <button id="resetImgDim" onclick="resetImgDim();">Reset Image dimensions</button>
    <button id="fiftyP" onclick="resizeSF();">75% Size</button>
    <button id="fiftyP" onclick="resizeFifty();">50% Size</button>
    <button id="twentyF" onclick="resizeTwentyF();">25% Size</button><br><br>
    <p id="currentImgSize"></p><br><br>
    <div class="point-size">
    <input id="sizeInput" type="number" placeholder="Dot Size">
    <button id="changeS" onclick="changeSize();">Change point size</button>
    <button id="resetS" onclick="resetSize();">Reset point size</button>
    <p> Default point radius size is set to 4px</p>
    <p id="dynamicSize"></p>
    <p><strong>Note:</strong>When deleting buttons make sure you don't change radius size. Only delete points when working with a fixed size</p>
    </div>
   </div>
   <!-- <div class="saved-distances" id="savedDistance">
    <h2>Define how many pixels are in a centimeter.</h2>
    <p>If there is a drawn line with the length of 1cm, measure it in pixels here:</p>
    <p id="scaleDistance"></p>
    <button id="measureButton" onclick="drawMeasureCircle();">Measure</button>
    <button id="resetMeasure" onclick="removeAllMeasurePoints();">Reset</button>
    <button type="submit">Save</button>
    <button onclick = "distancePointRed();">DistanceRed</button>
   </div> -->
   <div class="dpi-ppi-conversion">

   </div>
   <div class="data-management" id="showData">
    <div class="table-results">
    <h3>Data retrieved:</h3>
    <table id="table">
      <thead>
      <tr>
        <th>Points</th>
        <th>Measurement type</th>
        <th>Value(px)</th>
        <th>Value(cm)</th>
      </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
    </table>
    <button id="exportEx" onclick="ExportToExcel('xlsx');"> Export to excel file </button>
  </div>
  <div class="select-options">
    <!-- <form action="/"> -->
      <label for="point">Select point 1:</label>
        <select name="point" id="pointChosen1">
        </select>
      <label for="point">Select point 2:</label>
      <select name="point" id="pointChosen2">
      </select>
      <label for="measurement">Measurement:</label>
      <select name="measurement" id="measurement">
        <option value="Overlap" selected>Overlap</option>
        <option value="Stride length left">Stride length left</option>
        <option value="Stride length right">Stride length right</option>
      </select>
      
      <br><br><p id="entryPreview"></p>
      <button id="refreshList" onclick="refreshList();">Refresh</button>
      <button id="empty" onclick="emptyList();">Empty</button>
      <input type="submit" onclick="addEntry();" value="Add Entry">
      <button id="removeEntry" onclick="removeEntry();">Remove Entry</button>
      <!-- <button id="test" onclick="distanceBetweenPoints();">Calculate Distance</button> -->
      
    <!-- </form> -->
  </div>
</div> 
   <!-- </div> -->
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/canvas_testing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xlsx-full.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script> -->
<script>
// ----------------------- ALL VARIABLES ASSIGNED --------------------------- //

   let imgWidth = document.getElementById('imageUploadedWidth');
   let imgHeight = document.getElementById('imageUploadedHeight');
   let imgSize = document.getElementById('imageUploadedSize');
   let imgInfo = document.getElementById('imageInfo');
   let results = document.querySelector(".data-results");
   let buttons = document.querySelector(".buttons");
   let chButtons = document.querySelector(".buttons-change");
   let canvasInfo = document.getElementById("canvasInfo");
   let canvasUpload = document.getElementById("canvasUpload");
   document.getElementById("inputScreenInches").style.display = 'none';
   document.getElementById("screenPPI").style.display = 'none';
   document.getElementById("imageDimInches").style.display = 'none';
   document.getElementById("imageDimCm").style.display = 'none';
   document.getElementById("labelInput").style.display = 'none';
   document.getElementById("ppiCalculus").style.display = 'none';
   canvasUpload.style.display = "none";
   buttons.style.display = "none";
   canvas.style.display = "none";
  //  results.style.display = "none";
   chButtons.style.display = "none";
   let imgContainer = document.getElementById("imgContainer");
   let img = new Image()
    let loadFile = function(event){
        img.src = URL.createObjectURL(event.target.files[0]);
        imgContainer.style.backgroundImage = "url(" +img.src+ ")";
        buttons.style.display = "inline-block";
        // results.style.display = "inline-block";
        chButtons.style.display = "inline-block";
        imgInfo.style.display = "inline-block";
        // canvasInfo.style.display = "none";
        canvasUpload.style.display = "";
        imgSize.innerHTML = "<strong>Uploaded image size:</strong> "+ ((event.target.files[0].size)/1024).toFixed(2) + " kb";
        canvas.style.display = '';
        document.getElementById("canvasWidth").value = '';
        document.getElementById("canvasHeight").value = '';


// IMAGE ONLOAD SECTION - On image load canvas and container become the same size as uploaded image //
        img.onload = () => {
            event.target.value = null;
            imgWidth.innerHTML = "<strong>Uploaded image width:</strong> "+ img.width + "px";
            imgHeight.innerHTML = "<strong>Uploaded image height:</strong> "+ img.height + "px";
            imgContainer.style.width = img.width + "px";
            imgContainer.style.height = img.height + "px";
            imgContainer.style.backgroundSize = img.width + "px " + img.height + "px";
            canvas.height = img.height;
            canvas.width = img.width;
            canvasInfo.innerHTML = "<strong>Canvas size is:</strong> " + canvas.width + "x" + canvas.height;
            document.getElementById("inputScreenInches").style.display = '';
            document.getElementById("screenPPI").style.display = '';
            document.getElementById("imageDimInches").style.display = '';
            document.getElementById("imageDimCm").style.display = '';
            document.getElementById("labelInput").style.display = '';
            document.getElementById("ppiCalculus").style.display = '';
            document.getElementById("currentImgSize").innerHTML = "<b>Current image size is:</b> " + img.width+ "x" + img.height;
        }
    }

// FUNCTIONS TO CHANGE CANVAS DIMENSIONS //

    let canvasWidth = document.getElementById("canvasWidth");
    let canvasHeight = document.getElementById("canvasHeight");

    function changeWidth(){
    let canvasInputWidth = document.getElementById("canvasWidth").value;
    if (canvasInputWidth){
        canvas.width = canvasInputWidth;
        imgContainer.style.width = canvasInputWidth + "px";
        canvasInfo.innerHTML = "<strong>Canvas size is:</strong> " + canvas.width + "x" + canvas.height;
    } else{
        return;
    }
}

changeWidth();

function changeHeight(){
  let canvasInputHeight = document.getElementById("canvasHeight").value;
  if (canvasInputHeight){
    canvas.height = canvasInputHeight;
    imgContainer.style.height = canvasInputHeight + "px";
    canvasInfo.innerHTML = "<strong>Canvas size is:</strong> " + canvas.width + "x" + canvas.height;
  } else{
    return;
  }
}

changeHeight();

    function resetWidth(){
      canvas.width = img.width;
      imgContainer.style.width = canvas.width + "px";
      canvasInfo.innerHTML = "<strong>Canvas size is:</strong> " + canvas.width + "x" + canvas.height;
      document.getElementById("canvasWidth").value = '';
    }


    function resetHeight(){
      canvas.height = img.height;
      imgContainer.style.height = canvas.height + "px";
      canvasInfo.innerHTML = "<strong>Canvas size is:</strong> " + canvas.width + "x" + canvas.height;
      document.getElementById("canvasHeight").value = '';
    }

  // FUNCTIONS TO CHANGE IMAGE DIMENSIONS AND KEEPING CANVAS SIZE (some functions probably unnecessary) //   

    function changeImgDim(){
      let imgWidthInput = document.getElementById("containerWidth").value;
      let imgHeightInput = document.getElementById("containerHeight").value;
      if ((imgWidthInput) && (imgHeightInput)){
        imgContainer.style.backgroundSize = imgWidthInput + "px " + imgHeightInput + "px";
        imgContainer.style.width = imgWidthInput + "px";
        imgContainer.style.height = imgHeightInput + "px";
        document.getElementById("currentImgSize").innerHTML = "<b>Current image size is:</b> " + imgWidthInput + "x" + imgHeightInput;
      } else{
        alert("Give both dimensions to change!");
      }
    }

    function resetImgDim(){
      let imgWidthInput = document.getElementById("containerWidth");
      let imgHeightInput = document.getElementById("containerHeight");
      imgContainer.style.backgroundSize = img.width + "px " + img.height + "px";
      imgContainer.style.width= img.width + "px";
      imgContainer.style.height = img.height + "px";
      imgWidthInput.value = '';
      imgHeightInput.value = '';
      document.getElementById("currentImgSize").innerHTML = "<b>Current image size is:</b> " + img.width + "x" + img.height;
    }

    function resizeFifty(){
      imgContainer.style.backgroundSize = img.width*0.5 + "px " + img.width*0.5 + "px";
      document.getElementById("currentImgSize").innerHTML = "Current image size is: " + img.width*0.5 + "x" + img.height*0.5;
    }

    function resizeSF(){
      imgContainer.style.backgroundSize = img.width*0.75 + "px " + img.height*0.75 + "px";
      document.getElementById("currentImgSize").innerHTML = "Current image size is: " + img.width*0.75 + "x" + img.height*0.75;
    }

    function resizeTwentyF(){
      imgContainer.style.backgroundSize = img.width*0.25 + "px " + img.height*0.25 + "px";
      document.getElementById("currentImgSize").innerHTML = "Current image size is: " + img.width*0.25 + "x" + img.height*0.25;
    }
    
        // let img = document.createElement("img");
        // img.src = URL.createObjectURL(event.target.files[0]);
        // img.style.position = "absolute";
        // let widthI = img.width;
        // let heightI = img.height;
        // imgContainer.appendChild(img);
        // imgContainer.style.backgroundImage = "url(" +URL.createObjectURL(event.target.files[0])+ ")";
        // buttons.style.display = "inline-block";
        // results.style.display = "inline-block";
        // chButtons.style.display = "inline-block";


// ------------------- RESET FILE SECTION ===> RESET IMAGE AND FUNCTIONS -------------- //

    let resetFile = function(event){
      
      imgContainer.style.backgroundImage = "";
      buttons.style.display = "none";
      // results.style.display = "none";
      chButtons.style.display = "none";
      imgInfo.style.display = "none";
      canvas.style.cursor = "auto";
      canvas.removeEventListener('click', drawBlue);            // Remove all event listeners and also clear canvas
      canvas.removeEventListener('click', drawRed);
      canvas.removeEventListener("click", printMousePos);
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      // canvasInfo.innerHTML = "<strong>Canvas size is:</strong> ";
      canvasUpload.style.display = "none";
      canvas.width = 0;
      canvas.height = 0;
      imgContainer.style.width = "0";
      imgContainer.style.height = "0";
      document.getElementById("inputScreenInches").value = '';
      document.getElementById("inputScreenInches").style.display = 'none';
      document.getElementById("screenPPI").innerHTML = '';
      document.getElementById("imageDimInches").innerHTML = '';
      document.getElementById("imageDimCm").innerHTML = '';
      document.getElementById("labelInput").style.display = 'none';
      document.getElementById("ppiCalculus").style.display = 'none';
      canvas.style.display = "none";
      document.getElementById("canvasWidth").value = '';
      document.getElementById("canvasHeight").value = '';
      let imgWidthInput = document.getElementById("containerWidth");
      let imgHeightInput = document.getElementById("containerHeight");
      imgWidthInput.value = '';
      imgHeightInput.value = '';
    }
  
//---------------------------------------------------------//

// Resolution section //

    function getUserResolution(){
      document.getElementById("userResolution").innerHTML ="<strong>Your resolution is:</strong> " + window.screen.width * window.devicePixelRatio + "x" + window.screen.height * window.devicePixelRatio;
    }

    getUserResolution();

    function getScreenPPI(){
      let diagonal = Math.sqrt(Math.pow((window.screen.width * window.devicePixelRatio), 2)+Math.pow((window.screen.height * window.devicePixelRatio), 2));
      if (document.getElementById("inputScreenInches").value != ''){
        document.getElementById("screenPPI").innerHTML = "<b>Your screen PPI is:</b> " + (diagonal/document.getElementById("inputScreenInches").value).toFixed(2);
        document.getElementById("imageDimInches").innerHTML = "<b>Your image dimensions in inches are:</b> " + (img.width/(diagonal/document.getElementById("inputScreenInches").value)).toFixed(2) 
        + "x" + (img.height/(diagonal/document.getElementById("inputScreenInches").value)).toFixed(2);
        document.getElementById("imageDimCm").innerHTML = "<b>Your image dimensions in cm are:</b> " + ((img.width/(diagonal/document.getElementById("inputScreenInches").value)) * 2.54).toFixed(2) 
        + "x" + ((img.height/(diagonal/document.getElementById("inputScreenInches").value)) * 2.54).toFixed(2);
      } else
      alert("No screen size in inches was given"); 
    }
 
// --------------------------------------- //
    

// OPTIONS LIST DYNAMIC - SHOWING EVERY AVAILABLE OPTIONS OF POINTS TO CHOOSE //

let pointsChosen1 = document.getElementById("pointChosen1");
let pointsChosen2 = document.getElementById("pointChosen2");
let measurementType = document.getElementById("measurement");

function refreshList(){
  pointsChosen1.options.length = 0; // Every refresh click removes previous list to avoid duplicates
  pointsChosen2.options.length = 0;
  for(let i = 0; i < pointsRed.length; i++) {
    newIndexRed = i+1;
    pointsChosen1.options[pointsChosen1.options.length] = new Option("Red " + newIndexRed);
    pointsChosen2.options[pointsChosen2.options.length] = new Option("Red " + newIndexRed);
  }

  for(let g = 0; g < pointsBlue.length; g++) {
    newIndexBlue = g+1;
    pointsChosen1.options[pointsChosen1.options.length] = new Option("Blue " + newIndexBlue);
    pointsChosen2.options[pointsChosen2.options.length] = new Option("Blue " + newIndexBlue);
  }
}

function emptyList(){
  pointsChosen1.options.length = 0;
  pointsChosen2.options.length = 0;
}

tbody = document.getElementById("tbody");

function addEntry(){
  value1 = pointsChosen1.value;
  value2 = pointsChosen2.value;
  value3 = measurementType.options[measurementType.selectedIndex].value;
  let value4;
  let value5;
  var newRow = tbody.insertRow(-1);
  var cellOne = newRow.insertCell();
  var cellTwo = newRow.insertCell();
  var cellThree = newRow.insertCell();
  var cellFour = newRow.insertCell();
  cellOne.innerHTML = value1 + "|" + value2;
  cellTwo.innerHTML = value3;
  var index1 = document.getElementById("pointChosen1").selectedIndex;
  var index2 = document.getElementById("pointChosen2").selectedIndex;
  let option1 = pointsChosen1.value;
  let option2 = pointsChosen2.value;
  let distance;
  if (option1){
    if (option1.includes("Red")){
      point1 = pointsRed[index1];
      console.log(point1.x, point1.y);
    }
    if (option1.includes("Blue")){
      point1 = pointsBlue[index1 - pointsRed.length];
      console.log(point1.x, point1.y);
    }
  }
  if (option2){    
    if (option2.includes("Red")){
      point2 = pointsRed[index2];
      console.log(point2.x, point2.y);
    }
    if (option2.includes("Blue")){
      point2 = pointsBlue[index2 - pointsRed.length];
      console.log(point2.x, point2.y);
  }
  }
  distance = (Math.hypot(point1.x - point2.x, point1.y - point2.y)).toFixed(2);
  value4 = distance;
  cellThree.innerHTML = value4;
  cellFour.innerHTML = "NONE";
  // console.log(value1, value2, value3, value4, value5);
}


function removeEntry(){
  table = document.getElementById("table");
  table.deleteRow(-1);
}
</script>
<script>

  function ExportToExcel(type, fn, dl) {
      var elt = document.getElementById('table');
      var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
      return dl ?
          XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
          XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
  }

</script>
</body>
</html>