<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="shortcut icon" href="{% static 'img/mus-musculus.ico' %}">
    <title>Mouse Frame - Info</title>
</head>
<body>
    <header>
        <h1>Image Analysis - Important information</h1>
        <img src="{% static 'img/mouse.png' %}">
    </header>
    <div class="container">
        <h3>Information on mice walking behaviour analysis</h3>
        <p>The front paws of the mice are marked in red and the hind paws in blue. 
           This analysis goes through 8 different types of measurements that are all manually calculated using a ruler in the laboratory. 
           The 8 measures are as follows</p>
        <ul>
            <li>Stride length left front</li>
            <li>Stride length left hind</li>
            <li>Stride length right front</li>
            <li>Stride length right hind</li>
            <li>Overlap Left</li>
            <li>Overlap Right</li>
            <li>Stride Width Front</li>
            <li>Stride Width Hind</li>
        </ul>
    </div>
    <div class="home-page">
        <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
    </div>